@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
section {
    padding: 100px;
    min-height: 500px;
    
}
main {
    max-width: 1440px;
    margin: 0 auto;
}

header {
  height: 100px;
  background-color: #2b3c53;
  z-index: 10;
  position: relative;
}
nav {
    max-width: 1440px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size:21px;
    font-family: "Poppins";
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
nav ul li {
    margin: 0 25px;
    
   
}
nav ul li a {
    text-decoration: none;
    color: #fff;

}
.search{
    color:white;
}

.text-head-section{
    text-align:center;
    margin-left: 50px;
    margin-right:50px;

}
.text-head-section h1{
    font-size: 50px;
color: #2b3c53;
font-weight: 400;
font-family: "Righteous";
  margin-bottom:20px;
}
.text-head-section h2{
font-size: 30px;
line-height: 33px;
color: #2b3c53;
font-weight: 500;
font-family: "Poppins";
margin-bottom:30px;

}
.text-head-section p{
font-size: 22px;
line-height: 33px;
color: #2b3c53;
font-weight: 400;
font-family: "Poppins";
text-align: center;
margin-bottom:30px;
margin-left:200px;
margin-right:200px;
}
.button-head-section button{
    border-radius: 25px;
background-color: #2b3c53;
color:white;
width: 150px;
height: 30px;
}
.vector{
    position: absolute;
  top: -200px;
  z-index: 1;
  left: -250px;
}
.second-vector{
    position: absolute;
    z-index:1;
    right: -300px;
    bottom: -150px;
}
.about-us{
background-color: #5e9a62;
position:relative;
z-index:2;
display:flex;
justify-content: space-evenly;

}
.image-about-seciton img{
    width: 400px;
}
.about-text{
    text-align: left;
}
.about-text h1{
    font-size: 67px;
color: #ffffff;
font-weight: 400;
font-family: "Righteous";
}
.about-text p{
    width: 520px;

font-size: 15px;
line-height: 30px;
color: #ffffff;
font-family: "Poppins";
}
.button-about{
    margin-top: 70px;
}
.button-about button{

    width: 190px;
height: 39px;
border-radius: 25px;
background-color: #ffffff;
margin-top:15px;
color: #5e9a62;
font-weight: 600;
font-family: "Poppins";
}
.work-gallery{
    margin-left: 100px;
  margin-right: 100px;

}

.work-gallery h1{
    font-size: 83px;
color: #2b3c53;
font-weight: 400;
font-family: "Righteous";
text-align: center;
}
.images img{
    width:290px;
}
.images{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.online-education{
background-color: #2b3c53;
}

.phone-image img{
    width:300px;
}
.online-education{
    display:flex;
   
}
.online-education-text{
    display:flex;
    flex-direction: column;
    margin-right: 200px;
    
}
.online-education h1{
    font-size: 50px;
letter-spacing: 8px;
line-height: 92px;
color: #ffffff;
font-weight: 400;
font-family: "Righteous";
}
.online-education ul{

line-height: 33px;
color: #ffffff;
font-weight: 400;
font-family: "Poppins"
}
.our-service{
    font-size: 41px;
line-height: 62px;
color: #ffffff;
font-weight: 500;
font-family: "Poppins";
text-align: center;
}
.pause{
    width: 358px;
height: 93px;
border-radius: 21px;
background-color: #5e9a62;
}
.start{
    width: 358px;
height: 93px;
border-radius: 21px;
background-color: #5e9a62;
}
@media screen and (max-width: 768px) {
    nav{
        font-weight: 200;
        display:flex;
        flex-direction: column;
    }
    nav ul li{
        margin: 0 10px;
    }
    .vector{
        display: none;
    }
    .second-vector{
        display:none;
    }
    .logo img{
        width: 80px;
    }
    .text-head-section p{
        margin-left: 0;
        margin-right:0;
    }

}